@import "variable.styl"

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: text
  -webkit-tap-highlight-color: transparent

  input
    border: 1px solid #e9e9e9


